.nav-bar {
    display: flex;
    background: #4aa9dc;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 3; // Stacking order of element

    .logo {
        display: block;
        padding: 8px;

        img {
            display: block;
            margin: 8px;
            width: 32px;
            height: auto;
        }
    }
}