@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

@layer components {
  .social-icon {
    @apply relative flex items-center justify-center w-9 h-9 p-[6px] border border-gray-900 cursor-pointer transition-all z-0;
    border-radius: 50%;
    transition: border-radius 0.3s ease, background-color 0.3s ease,
      color 0.3s ease;
  }

  .social-icon:hover {
    border-radius: 0.5rem;
    background-color: #000;
    color: #ffffff;
  }

  .social-text {
    @apply absolute w-auto p-2 m-2 min-w-max top-8 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-200 origin-top scale-0;
  }

  .tech-stack-icon {
    @apply relative flex items-center justify-center transition-all;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .tech-stack-text {
    @apply absolute z-50 w-auto p-2 m-2 min-w-max top-8 rounded-md shadow-md text-white bg-gray-900 text-sm font-bold transition-all duration-200 origin-top scale-0;
  }
}
